@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div.promo {
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 10vw;
    font-family: 'Montserrat', sans-serif;
    
}
div.promo  p.quote {
    text-align: center;
    font-size: 1rem;
    
}
q {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание текста */
    color: navy; /* Синий цвет текста */
    quotes: "\00ab" "\00bb"; /* Кавычки-елочки */
   }
div.promo div.part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

div.promo div.part div.text {
    flex-basis: 2;
   
    width: 650px;
}


div.promo div.img {
    flex-basis: 1;
    margin: 0 auto;
    
}

div.promo div.img img {
      height: 200px;
      margin: 0 auto;

}



@media(max-width:1400px) {
    div.part div.img {
        order: 2;
    }
   

    div.promo div.img img {
        height: 150px;
          
  }
  div.promo div.part div.text{
      width: auto;
  }
 
div.part {
    flex-direction: column;
}

}

@media(max-width:500px) {
    div.promo div.img img {
        height: 100px;
          
  }
  div.promo {
    margin: 20px;
    
    padding: 0;
    
}
}